body {
  background-color: pink;
  text-align: center;
  font-size: 60px;
}
button{
  border-radius: 10px;
  background-color: red;
}
button:hover{
  background-color: black;
}

#prueba1 {
  border:1px solid black;
 
  display: none;
}

#prueba2 {
  border:1px solid black;
  
  margin: 0 auto;
  display: none;
}
